<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="stylesheet" href="/styles/home.css" />
        <link rel="stylesheet" href="/styles/header-complete.css" />
        <link rel="stylesheet" href="/styles/footer.css" />
        <title>Home</title>
    </head>
    <body>
        <%- include('./partials/header-complete')%>
        <section class="section-home--page">
            <article>
                <h3>Categorias</h3>
                <div class="container-clothes container-products--horizontal">
                    <div class="div"></div>
                    <div class="div"></div>
                    <div class="div"></div>
                </div>
            </article>

            <article>
                <h3>Autos</h3>
                <div class="container-clothes container-products--horizontal">
                    <div class="div"></div>
                    <div class="div"></div>
                    <div class="div"></div>
                </div>
            </article>

            <article>
                <h3>Libros</h3>
                <div class="container-clothes container-products--horizontal">
                    <div class="div"></div>
                    <div class="div"></div>
                    <div class="div"></div>
                </div>
            </article>

            <article>
                <h3>Jugetes</h3>
                <div class="container-clothes container-products--horizontal">
                    <div class="div"></div>
                    <div class="div"></div>
                    <div class="div"></div>
                </div>
            </article>
        </section>

        <%- include('./partials/footer')%>
    </body>
</html>
