<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="stylesheet" href="../public/styles/home.css" />
        <title>Home</title>
    </head>
    <body>
        <header>
            <div class="container-h1">
                <h1>Mercado<br />Ecommerce</h1>
            </div>

            <div class="container-search--list">
                <form action="#">
                    <input
                        class="input-search"
                        type="search"
                        placeholder="Buscar productos, marcas y mas..."
                    />
                    <button class="btn-search">🔍</button>
                </form>

                <nav>
                    <ul class="ul-options">
                        <li>Categorias</li>
                        <li>Ofertas</li>
                        <li>Historial</li>
                        <li>Moda</li>
                        <li>Vender</li>
                    </ul>
                </nav>
            </div>

            <nav>
                <ul class="ul-perfil">
                    <!-- <select name="#" id="@">
                        <option value="#">Mi Perfil</option>
                        <option value="#">Salir</option>
                    </select> -->
                    <li>
                        User
                        <ol class="ol-user--options">
                            <li>Mi perfil</li>
                            <li>Compras</li>
                            <li>Vender</li>
                            <li>Salir</li>
                        </ol>
                    </li>
                    <li>Mis compras</li>
                    <li>Favoritos</li>
                    <li>🛒</li>
                </ul>
            </nav>
        </header>

        <section class="section-home--page">
            <article>
                <h3>Categorias</h3>
                <div class="container-clothes container-products--horizontal">
                    <div class="div"></div>
                    <div class="div"></div>
                    <div class="div"></div>
                </div>
            </article>

            <article>
                <h3>Autos</h3>
                <div class="container-clothes container-products--horizontal">
                    <div class="div"></div>
                    <div class="div"></div>
                    <div class="div"></div>
                </div>
            </article>

            <article>
                <h3>Libros</h3>
                <div class="container-clothes container-products--horizontal">
                    <div class="div"></div>
                    <div class="div"></div>
                    <div class="div"></div>
                </div>
            </article>

            <article>
                <h3>Jugetes</h3>
                <div class="container-clothes container-products--horizontal">
                    <div class="div"></div>
                    <div class="div"></div>
                    <div class="div"></div>
                </div>
            </article>
        </section>

        <footer>
            <p>Hecho por @mmascheroni</p>
        </footer>
    </body>
</html>
