<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="stylesheet" href="../public/styles/login.css" />
        <title>Login MercadoEcommerce</title>
    </head>
    <body>
        <header>
            <div class="container-h1">
                <h1>Mercado<br />Ecommerce</h1>
            </div>
        </header>

        <section id="section-form--login">
            <div class="container-form">
                <h2>Iniciar Sesión</h2>
                <form action="#">
                    <label for="email">Ingresa tu email</label>
                    <input type="email" placeholder="Ingresa tu email" />

                    <label for="password">Ingresa tu contraseña</label>
                    <input
                        type="password"
                        placeholder="Ingresa tu contraseña"
                    />
                    <button>Continuar</button>
                    <a href="#">Crear cuenta</a>
                </form>
            </div>
        </section>

        <footer>
            <p>Hecho por @mmascheroni</p>
        </footer>
    </body>
</html>
