* {
    box-sizing: border-box;
    margin: 0;
}

header {
    background-color: #74abaf;
    padding: 2rem;
}

.container-h1 {
    text-align: center;
    width: 30%;
}

h1 {
    font-size: 1.5em;
    margin: 0;
    text-align: center;
}

#section-form--login {
    background-color: rgba(0, 0, 0, 0.1);
    display: flex;
    justify-content: center;
    padding: 2rem;
    text-align: center;
    height: 70vh;
    width: 100%;
}

form {
    display: flex;
    flex-direction: column;
    padding: 1rem;
    justify-content: center;
    align-items: center;
}

h2 {
    margin-bottom: 1rem;
}

form > label {
    align-self: self-start;
    padding-left: 1.5rem;
}

form > input {
    border: 0.2rem solid rgba(99, 97, 97, 0.904);
    border-radius: 0.8rem;
    margin: 0.5rem 0 1rem 1rem;
    padding: 1rem 1.1rem;
    width: 18rem;
}

form > button {
    background-color: rgb(12, 113, 245);
    border: none;
    border-radius: 0.8rem;
    color: #ffffff;
    cursor: pointer;
    margin: 1rem;
    padding: 1rem 1.1rem;
    width: 18rem;
    font-weight: bolder;
    font-size: 1rem;
}

a {
    text-decoration: none;
    color: rgb(12, 113, 245);
    cursor: pointer;
    font-weight: bolder;
    font-size: 1.1rem;
}

footer {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 11vh;
}

footer > p {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.1rem;
    font-weight: bolder;
}

@media screen and (max-width: 380px) {
    form {
        padding: 0;
    }

    form > label {
        align-self: start;
        padding-left: 3rem;
    }

    form > input {
        width: 15rem;
        margin-left: 0;
    }

    form > button {
        width: 15rem;
        margin-left: 0;
    }
}
